<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Entry</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/assets/css/adminlte.css">
    <!-- jQuery -->
    <script src="/plugins/jquery/jquery.min.js"></script>

</head>


<body class="hold-transition login-page" >
<div class="login-box">

    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <!--      <p class="login-box-msg"><b>Log in</b></p>-->
            <div class="login-logo">
                <b>Edit Entry</b>
            </div>
            <% if (typeof msg !== 'undefined') { %>
                <div class="alert alert-danger text-center" role="alert"><%= msg %></div>
            <% } %>
            <% if (typeof successmsg !== 'undefined') { %>
                <div class="alert alert-success text-center" role="alert"><%= successmsg %></div>
            <% } %>

            <form action="/users/editEntry" method="post">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input class="form-control" id="title" name="title" value="<%= entry.title %>" required>
                </div>
                <div class="form-group">
                    <label for="description">Description (1000 characters)</label>
                    <textarea class="form-control" id="description" rows="3" name="description" required><%= entry.description %></textarea>
                </div>

                <div class="form-group">
                    <label for="link">Youtube URL</label>
                    <input class="form-control" id="link" name="link" value="<%= entry.link %>" required>
                </div>



                <div class="row">
                    <input type="text" name="id" hidden value="<%=entry.vlog_id%>">

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                    <!-- /.col -->
                </div>
                <br>
            </form>

            <form action="editEntry" action="/users/editEntry" method="DELETE">
                <div class="row">
                    <input type="text" name="id" hidden value="<%=entry.vlog_id%>">

                    <div class="col-12">
                        <button type="submit" class="btn btn-danger btn-block"><b>DELETE ENTRY</b></button>
                    </div>
                    <!-- /.col -->
                </div>
                <br>
            </form>

            <a href="/" class="text-center btn btn-secondary btn-block"><span class="fas fa-home"></span> Home</a>

        </div>
        <!-- /.login-card-body -->
    </div>
</div>
<!-- /.login-box -->
</body>


<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/assets/js/adminlte.min.js"></script>
</html>